In [1]:
import json

In [2]:
answer = json.load(open("data/gg2013answers.json", "r"))

In [9]:
for i in answer['award_data'].keys():
    print(i)

best screenplay - motion picture
best director - motion picture
best performance by an actress in a television series - comedy or musical
best foreign language film
best performance by an actor in a supporting role in a motion picture
best performance by an actress in a supporting role in a series, mini-series or motion picture made for television
best motion picture - comedy or musical
best performance by an actress in a motion picture - comedy or musical
best mini-series or motion picture made for television
best original score - motion picture
best performance by an actress in a television series - drama
best performance by an actress in a motion picture - drama
cecil b. demille award
best performance by an actor in a motion picture - comedy or musical
best motion picture - drama
best performance by an actor in a supporting role in a series, mini-series or motion picture made for television
best performance by an actress in a supporting role in a motion picture
best television series - drama
best performance by an actor in a mini-series or motion picture made for television
best performance by an actress in a mini-series or motion picture made for television
best animated feature film
best original song - motion picture
best performance by an actor in a motion picture - drama
best television series - comedy or musical
best performance by an actor in a television series - drama
best performance by an actor in a television series - comedy or musical

In [6]:
ans = dict()
for i in answer['award_data'].keys():
    tmp = i.split(' ')
    for j in tmp:
        if j in ans:
            ans[j] += 1
        else:
            ans[j] = 1
print(len(answer['award_data'].keys()))

26

In [8]:
ans = sorted(ans.items(), key=lambda x: x[1], reverse=True)
for i in ans:
    print(i)

('best', 25)
('in', 18)
('a', 18)
('motion', 17)
('picture', 17)
('-', 16)
('performance', 14)
('by', 14)
('an', 14)
('television', 11)
('or', 11)
('actress', 7)
('actor', 7)
('series', 6)
('comedy', 6)
('musical', 6)
('drama', 6)
('mini-series', 5)
('made', 5)
('for', 5)
('supporting', 4)
('role', 4)
('film', 2)
('series,', 2)
('original', 2)
('screenplay', 1)
('director', 1)
('foreign', 1)
('language', 1)
('score', 1)
('cecil', 1)
('b.', 1)
('demille', 1)
('award', 1)
('animated', 1)
('feature', 1)
('song', 1)

In [10]:
import pandas as pd

In [12]:
data = pd.read_csv("data/actors.tsv", sep='\t')

In [13]:
data

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0050419,tt0072308,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0080455,tt0072562,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0050976,tt0083922"
...,...,...,...,...,...,...
12931040,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt14069590,tt11657662,tt2455546"
12931041,nm9993716,Essias Loberg,\N,\N,NaN,\N
12931042,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12931043,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
12931044,nm9993719,Andre Hill,\N,\N,NaN,\N

In [16]:
type(data['deathYear'][2])

str

In [17]:
import re

In [35]:
match = re.search(r'\b(\S+)\s+wins\s+#goldenglobe\s+for\s+(\S+)\s+for\s+(\S+)', "xxx wins #goldenglobe for AWARD for role/movie")
if match:
    print(match.group(2))

AWARD